{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 160,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "proseWrap": "always",
        "printWidth": 240
      }
    }
  ]
}
